<!DOCTYPE html>
<html lang="en" th:replace="~{baseFragment :: parent(~{::#content},~{::title}, ~{script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <section id="content">
        <h1>
            This is about page
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, impedit?
        </h1>
        <script>
            console.log("this is about page")
        </script>
    </section>
</body>
</html>