<div class="parent-tag" th:fragment = "parent">
    <h1>this is the base pragment</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates excepturi impedit natus. Amet aperiam eveniet eos reprehenderit esse dolor vero!</p>
</div>

<div th:fragment = "parentParameter(x,y)">
    <h1>
        this is parent  parament tag
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, blanditiis.\</p>
    <h2>value of x is <span th:text = "${x}"></span></h2>
    <h2>value of y is <span th:text = "${y}"></span></h2>
</div>

<div th:fragment = "contentFragment(content)">
    <h1>this is htmlcontent fragment</h1>
    <div th:replace = "${content}"></div>
</div>