<!DOCTYPE html>
<html lang="en" th:replace="~{baseFragment :: parent(~{::#content},~{::title}, ~{script})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
 
    
</head>
<body>
    <div class="bg-gray-200 w-1/2 p-4 mx-auto mt-4 text-xl-2" id="content">
        <h1 class="text-2 font-bold" data-th-text="${name}">
            Welcome to home 
        </h1>
        <a th.href="">click here to open</a>
        <p class="text-xl">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi quod sit, reiciendis, non aliquid nulla provident voluptatum quaerat voluptas porro 
            nesciunt delectus consequatur quo a alias explicabo neque earum. Maiores optio ab debitis aliquam provident, eum animi ratione distinctio tempora ea cum, 
            libero repellat earum adipisci, asperiores sunt expedita vero?
        </p>
        <div>
            <button class="px-3 py-3 rounded bg-blue-700 text-white hover:bf-blue-600">
                Click here
            </button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</body>
</html>